{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h4>Nova Categoria</h4>
<div class="card">
    <div class="card-body">
        <form action="/game/categories/add" method="POST">
            <label for="question" class="mt-1">Categoria:</label>
            <input type="text" name="categorie" placeholder="Nome da categoria" class="form-control mt-1">
            <label for="answer" class="mt-1">Descrição:</label>
            <input type="text" name="description" placeholder="Escreva uma descrição" class="form-control mt-1">
            <button class="btn btn-success mt-4" type="submit">Adicionar categoria</button>
            <a href="/game/categories" class="btn btn-danger mt-4">Cancelar</a>
        </form>
    </div>
</div>