<link rel="stylesheet" type="text/css" href="/css/play.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


{{#each question}}
  <div class="container">
    <section>
      <div class="main">
        <div id="errors"></div>
        <div class="card">
          <div class="card-body">
            <h4>{{question}}</h4>
          </div>
        </div>
        <div id="row-input" class="mt-5 ">
          <input value="{{answer}}" id="answer" type="hidden">
          <input type="text" id="letter-1" class="input-text" maxlength="1">
          <input type="text" id="letter-2" class="input-text" maxlength="1">
          <input type="text" id="letter-3" class="input-text" maxlength="1">
          <input type="text" id="letter-4" class="input-text" maxlength="1">
          <input type="text" id="letter-5" class  ="input-text" maxlength="1">
        </div>
        <div class="mt-5">
          <div class="keyboard">
            <button data-i="q">Q</button>
            <button data-i="w">W</button>
            <button data-i="e">E</button>
            <button data-i="r">R</button>
            <button data-i="t">T</button>
            <button data-i="y">Y</button>
            <button data-i="u">U</button>
            <button data-i="i">I</button>
            <button data-i="o">O</button>
            <button data-i="p">P</button>
          </div>
          <div class="keyboard m-3">
            <button data-i="a">A</button>
            <button data-i="s">S</button>
            <button data-i="d">D</button>
            <button data-i="f">F</button>
            <button data-i="g">G</button>
            <button data-i="h">H</button>
            <button data-i="j">J</button>
            <button data-i="k">K</button>
            <button data-i="l">L</button>
            <div id="clearInput" class="btn btn-clear m-2"><p>clear</p></div>
          </div>
          <div class="keyboard m-5">
            <button data-i="z">Z</button>
            <button data-i="x">X</button>
            <button data-i="c">C</button>
            <button data-i="v">V</button>
            <button data-i="b">B</button>
            <button data-i="n">N</button>
            <button data-i="m">M</button>
            <div id="checkAnswer" class="btn btn-enter m-2"><p>enter</p></div>
          </div>
        </div>
    </div>
      </div>
    </section>
  </div>
{{else}}
    <h4>Não a perguntas para jogar!</h4>
{{/each}}


<script src="/js/play.js"></script>