<h4>Lista de perguntas: </h4>
<hr>
<a href="/game/questions/add"><button class="btn btn-success">Nova Pergunta</button></a>
<hr>
{{#each question}}

    <h4>Pergunta: {{question}}</h4> 
    <a href="/game/questions/{{id}}"><button class="btn btn-danger">Deletar</button></a>
    <hr>
{{else}}

    <h4>Nenhuma pergunta encontrada</h4>
{{/each}}